In [ ]:
import pandas as pd

# Create a time range with a start and end date
start = '2022-01-01'
end = '2022-01-07'
dates = pd.date_range(start=start, end=end)
print(dates)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#series: wich one dimentional.
#we can create a series with in list,array,dictionaries
#each series value have an index value which will start from 0
data = [10,2,3,45,65]
series = pd.Series(data)

print(series)

45

In [ ]:
Data= {"a": 10, "b": 2, "c": 3, "d": 45, "e": 65}
series= pd.Series(Data)
print(series)
#we can also access element using index value
print(series[3])

a    10
b     2
c     3
d    45
e    65
dtype: int64
45

In [ ]:
#arithmatical operation with the series
series_add = series + 10

print(series_add)

a    20
b    12
c    13
d    55
e    75
dtype: int64

In [ ]:
filtered_series = series[series > 9]
print(filtered_series)

a    10
d    45
e    65
dtype: int64

In [ ]:
#find the mean of the series
mean =series_add.mean()
print(f"the mean value of the series is {mean}")

the mean value of the series is 35.0

In [ ]:
#data frame is two diementional which is in a tabular format.

#create a dataframe with a dictionary

datas={
    'name':['kingni','tuttu','ikka'],
    'age':[24,25,24],
    'place':['koovode','mavoor','poonoor']
}

#convert the data into dataframe
df = pd.DataFrame(datas)
print(df)
#for each field from data frame
print(df[['name','place']])
#for each row access
print(df.iloc[2])

     name  age    place
0  kingni   24  koovode
1   tuttu   25   mavoor
2    ikka   24  poonoor
     name    place
0  kingni  koovode
1   tuttu   mavoor
2    ikka  poonoor
name        ikka
age           24
place    poonoor
Name: 2, dtype: object

In [ ]:
#add a new  column into the dataframe
df['stiphant']=[15000,5000,5000]
print(df)

     name  age    place  stiphant
0  kingni   24  koovode     15000
1   tuttu   25   mavoor      5000
2    ikka   24  poonoor      5000

In [ ]:
#remove a column
df = df.drop(columns=['age'])
print(df)

     name    place  stiphant
0  kingni  koovode     15000
1   tuttu   mavoor      5000
2    ikka  poonoor      5000

In [ ]:
#statitical function
#describe() help get the summary of statics of your data frame

print(df.describe())

           stiphant
count      3.000000
mean    8333.333333
std     5773.502692
min     5000.000000
25%     5000.000000
50%     5000.000000
75%    10000.000000
max    15000.000000