In [1]:
import pandas as pd

#read csv
df=pd.read_csv('xldata.csv')
print(df)

      name  age         place  salary
0   navani   23     kolathara   45000
1  shuhaib   23      thikkodi   50000
2    ayana   24    cherukulam   55000
3    akash   24        kovoor   60000
4   sharon   23  malapparamba   65000
5   akshay   23        mavoor   70000

In [5]:
import pandas as pd

#read csv
df=pd.read_csv('xldata.csv',usecols= ['name','age','place'])
print(df)

      name  age         place
0   navani   23     kolathara
1  shuhaib   23      thikkodi
2    ayana   24    cherukulam
3    akash   24        kovoor
4   sharon   23  malapparamba
5   akshay   23        mavoor